main {
	width: 100px
}
h1 {
	font-size: px ;
	color: brown ;
	 font-size: 120%; 
    font-family: Arial, Helvetica, sans-serif; 
}
p {
  padding-left: 20px;
}
body {
	background: linear-gradient(to top right, rgb(140, 204, 30), rgb(136, 186, 33), rgb(133, 168, 36), rgb(129, 150, 39), rgb(125, 132, 42), rgb(121, 114, 45), rgb(118, 96, 47), rgb(114, 78, 50), rgb(110, 60, 53), rgb(106, 42, 56), rgb(103, 24, 59), rgb(99, 6, 62));
}
html,main {
	 height: 100% ;
}